body {
    background-color: darkgray;
    width: 80%;
    margin: 0 auto;
}

header {
   background-color: black;
   height: 300px;
   margin-top: 50px;
   margin-bottom: 10px;
}

section {
   background-color: black;
   height: 400px;
   margin-top: 50px;
   margin-bottom: 10px;
}

footer {
   background-color: black;
   height: 150px;
   margin-top: 50px;
  
}